apiVersion: v1
name: aspnet-app
description: A helm chart for DotNet application
version: 1.0.0
keywords:
  - stakater
  - java
  - dotnet
maintainers:
- name: Stakater
  email: stakater@aurorasolutions.io