labels:
  group: com.stakater.platform
  provider: stakater
  version: {{ getenv "VERSION" }}
deployment:
  replicas: 1
  podLabels:      
    app: aspnet-app
  container:
    name: aspnet-app
    image:
      name: stakater/aspnet-app
      tag: {{ getenv "DOCKER_TAG" }}
service:
  expose: true
  port: 80